/* CSS File for Just Stream It */

/* style resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%;
    background: #000;
    position: relative;
    font-family: Bitter, serif;
}

/* Navbar CSS*/
.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1%;
    background-image: linear-gradient(#000, transparent);
    z-index: 10;
    display: flex;
    align-items: center;
}

.brand_logo{
    height: 70px;
}

.right_container{
    display: block;
    margin-left: auto;
    margin-right: 6%;
}

.nav_links{
    margin-top: 10px;
    display: flex;
    list-style: none;
}

.nav_items a{
    text-decoration: none;
    margin-left: 20px;
    text-transform: capitalize;
    color: #fff;
    opacity: .9;
}

/* Carousel container CSS*/
.carousel_container{
    position: relative;
    width: 100%;
    height: 85%;
    overflow-x: hidden;
}

.carousel{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
}

.slider{
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: #000;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
}

.slider img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.slide_content{
    position: absolute;
    width: 40%;
    padding-left: 6%;
    height: 100%;
    z-index: 3;
    color: #fff;
}

.movie_title{
    text-transform: uppercase;
    margin-top: 120px;
    font-family: 'Open Sans';
    font-size: 60px;
    font-weight: bolder;
}

.movie_description{
    width: 100%;
    line-height: 30px;
    margin-top: 40px;
    opacity: 0.8;
}

.play_btn{
    width: 30%;
    margin-top: 40px;
    background: #E5383B;
    color: #fff;
    height: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bolder;
    font-size: 12px;
}

.fas{
    font-size: 20px;
}

.fa-play{
    margin-right: 10px;
    font-size: 12px;
}

.info_btn{
    width: 10%;
    margin-top: 40px;
    margin-left: 10px;
    background: #E1E1E0;
    color: #000;
    height: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bolder;
    font-size: 12px;
}

/*Card Container CSS*/
.cards_container{
    position: relative;
    width: 100%;
    margin-top: -100px;
    overflow-x: hidden;
    z-index: 3;
}

.cards_title{
    color: #fff;
    font-family: 'Open Sans';
    font-weight: bolder;
    font-size: 30px;
    padding-left: 6%;
}

.movies_list{
    width: 100%;
    height: 350px;
    position: relative;
    margin: 30px 0 20px;
}

.pre_btn,
.next_btn{
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 2;
    border: none;
    cursor: pointer;
    outline: none;
}

.pre_btn{
    left: 0;
    background: #000;
}

.next_btn{
    right: 0;
    background: #000;
}

.pre_btn img,
.next_btn img{
    width: 15px;
    height: 20px;
    opacity: 0;
}

.pre_btn:hover img,
.next_btn:hover img{
    opacity: 1;
}

.card_container{
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.card_container::-webkit-scrollbar{
    display: none;
}


.card{
    position: relative;
    min-width: 200px;
    width: 200px;
    height: 280px;
    border-radius: 10px;
    border: 1px solid #fff;
    overflow: hidden;
    transition: .5s;
    margin: 0 15px;
}

.card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover{
    transform: scale(1.1);
}