/* Main CSS file for Just Stream it */

/* Import fonts*/
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Import all CSS files */
@import url(navbar.css);
@import url(components.css);
@import url(main_container.css);
@import url(card_container.css);
@import url(modal.css);

/* Style reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%;
    background: #000;
    position: relative;
    font-family: 'Bitter', serif;
    color: #fff;
}