/* Main CSS file for Just Stream it */
@import url(components.css);
@import url(header.css);
@import url(navbar.css);
@import url(modal.css);

/* Style reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%;
    background: #000;
    position: relative;
    font-family: 'Bitter', serif;
}